<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445166218844-uuin2al6mknkdfc58ih1akd5rjlpq3q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445166218844-uuin2al6mknkdfc58ih1akd5rjlpq3q7</string>
	<key>API_KEY</key>
	<string>AIzaSyAQtemudfrEUQ7MOM-in3lMqIRwGPqGT3g</string>
	<key>GCM_SENDER_ID</key>
	<string>445166218844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lovefoundit.loveFoundIt</string>
	<key>PROJECT_ID</key>
	<string>lovefoundit-4e54e</string>
	<key>STORAGE_BUCKET</key>
	<string>lovefoundit-4e54e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445166218844:ios:964ccd488e291b19800099</string>
</dict>
</plist>